*{
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container > div{
    width: 300px;
    font-size: 20px;
}