*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: blue;
}
.title{
    text-align: center;
    margin: 10px;
}
.navbar > ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
ul > li{
    display: block;
    margin: 5px;
    font-size: large;
    color: aliceblue;
}